<%= form_with(model: orcid, local: true) do |form| %>
  <% if orcid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orcid.errors.count, "error") %> prohibited this orcid from being saved:</h2>

      <ul>
      <% orcid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
